* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aquamarine;
}
.wrapper {
  align-items: center;
  text-align: center;
}
.boxes {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  margin: 10px 0;
}

.box {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 2px solid;
}

button {
  margin-top: 15px;
  background-color: #4caf50;
  padding: 10px 40px 15px;
  color: black;
  font-size: 20px;
}
